/* Color
  mercedes: #00d2be
  ferrari: #DC0000
  red_bull: #0600ef
  mclaren: #FF8700
  renault: #FFF500
  alpha_tauri: #ffffff
  racing_point: #F596C8
  haas: #787878
  alfa_romeo: #960000
  williams: #0082fa
  серый #949498           */

.team-container {
  width: 100%;
  padding-right: 10px;
  padding-left: 90px;
  /* padding-top: 10px; */
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
}
.team-list-item {
  border-right: solid 2px #949498;
  border-top: solid 2px #949498;
  border-top-right-radius: 10px;
  margin-inline-start: 2px;
  margin-inline-end: 2px;
  padding-block-start: 0.35em;
  padding-inline-start: 0.75em;
  padding-inline-end: 0.75em;
  padding-block-end: 1.5em;
  width: 510px;
  height: 220px;
  float: left;
}

.team-list-item a {
  color: rgb(71, 61, 61);
  cursor: pointer;
  text-decoration: none;
}
.team-list-item a:hover {
  color: rgb(71, 61, 61);
  cursor: pointer;
  text-decoration: line-through;
}
.mercedes .team-list-item a:hover {
  color: #00d2be;
  cursor: pointer;
  text-decoration: none;
}
.ferrari .team-list-item a:hover {
  color: #dc0000;
  cursor: pointer;
  text-decoration: none;
}
.red_bull .team-list-item a:hover {
  color: #0600ef;
  cursor: pointer;
  text-decoration: none;
}
.renault .team-list-item a:hover {
  color: #fff500;
  cursor: pointer;
  text-decoration: none;
}
.mclaren .team-list-item a:hover {
  color: #ff8700;
  cursor: pointer;
  text-decoration: none;
}
.alpha_tauri .team-list-item a:hover {
  color: #949498;
  cursor: pointer;
  text-decoration: none;
}
.racing_point .team-list-item a:hover {
  color: #f596c8;
  cursor: pointer;
  text-decoration: none;
}
.haas .team-list-item a:hover {
  color: #787878;
  cursor: pointer;
  text-decoration: none;
}
.alfa_romeo .team-list-item a:hover {
  color: #960000;
  cursor: pointer;
  text-decoration: none;
}
.williams .team-list-item a:hover {
  color: #0082fa;
  cursor: pointer;
  text-decoration: none;
}

.team-header {
  display: flex;
  justify-content: flex-start;
  font-family: sans-serif;
  border-bottom: solid 7px #949498;
}

.mercedes .team-header {
  border-bottom: solid 7px #00d2be;
}
.ferrari .team-header {
  border-bottom: solid 7px #dc0000;
}
.red_bull .team-header {
  border-bottom: solid 7px #0600ef;
}
.renault .team-header {
  border-bottom: solid 7px #fff500;
}
.mclaren .team-header {
  border-bottom: solid 7px #ff8700;
}
.alpha_tauri .team-header {
  border-bottom: solid 7px #949498;
}
.racing_point .team-header {
  border-bottom: solid 7px #f596c8;
}
.haas .team-header {
  border-bottom: solid 7px #787878;
}
.alfa_romeo .team-header {
  border-bottom: solid 7px #960000;
}
.williams .team-header {
  border-bottom: solid 7px #0082fa;
}

.team-drivers {
  display: flex;
  justify-content: flex-start;
  font-family: sans-serif;
}
.team-driver {
  border-right: solid 1px #949498;
  border-bottom: solid 1px #949498;
  border-bottom-right-radius: 10px;
  padding-top: 5px;
  padding-left: 10px;
  font-weight: bold;
  width: 244px;
  height: 20px;
}
.team-logo {
  position: relative;
  width: 50px;
  height: 50px;
  overflow: hidden;
  display: block;
}
.team-car {
  position: relative;
  width: 510px;
  height: 150px;
  overflow: hidden;
  display: block;
  margin-top: 5px;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
.team-name {
  width: 450px;
  height: 35px;
  padding: 15px 0px 0px 10px;
  font-size: 25px;
  font-weight: bold;
}
