#team .logo {
  width: 100px;
  margin: 10px 0px 5px 10px;
  border-color: grey;
}

#team-header {
  display: flex;
  justify-content: flex-start;
  font-family: sans-serif;
}
#team-header .name {
  font-size: 40px;
  font-weight: bold;
  color: rgb(71, 61, 61);
  margin: 30px 0px 0px 10px;
  text-decoration: underline;
}

#line {
  top: -25px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  position: relative;
}
#team .colorline {
  width: 31%;
  height: 67px;
  margin: 0px 0px 11px 0px;
  background-color: red;
  transition: width 1s;
}
#team .colorline:hover {
  width: 100%;
}
#team .carline {
  height: 90px;
  width: auto;
  margin: 0px 0px 10px 0px;
  cursor: pointer;
}
#team.mercedes .colorline {
  background-color: #00d2be;
}
#team.ferrari .colorline {
  background-color: #dc0000;
}
#team.red_bull .colorline {
  background-color: #0600ef;
}
#team.renault .colorline {
  background-color: #fff500;
}
#team.mclaren .colorline {
  background-color: #ff8700;
}
#team.alpha_tauri .colorline {
  background-color: #949498;
}
#team.racing_point .colorline {
  background-color: #f596c8;
}
#team.haas .colorline {
  background-color: #787878;
}
#team.alfa_romeo .colorline {
  background-color: #960000;
}
#team.williams .colorline {
  background-color: #0082fa;
}

#driver-photo {
  width: 306px;
  height: 600px;
  display: flex;
  justify-content: flex-start;
  /* align-items: flex-end; */
  position: relative;
}
.photo {
  overflow: hidden;
  width: 300px;
  margin-left: -300px;
}
