#year-p {
  display: flex;
  justify-content: flex-start;
  margin: 25px 50px 0px 15px;
  background-color: white;
}
.year-stats {
  border: 0;
  padding: 5px 60px 5px 0px;
  text-align: left;
  background-color: white;
  font-size: 25px;
  font-weight: bolder;
  color: rgb(71, 61, 61);
}
.year-pilots {
  border-style:inset;
  /* border-bottom:none; */
  border: 2px solid rgb(71, 61, 61);
  padding: 9px 9px 1px 9px;
  background-color: white;
  font-size: 18px;
  font-weight: bolder;
  color: rgb(71, 61, 61);
}
.year-pilots a {
  color: rgb(71, 61, 61);
  text-decoration:none;
}
.year-pilots a:hover {
  color: rgb(71, 61, 61);
  text-decoration:underline;
}

#stat-p {
  background-color: rgb(71, 61, 61);
  /* font-size: x-large; */
  font-weight: bolder;
  color:white;
}

#stat-p, 
.stat-p-row {
  display: flex;
  justify-content: space-evenly;
  padding: 5px;
  text-align: start;
}

#stat-p div,
.stat-p-row div {
  width: 8%;
  text-align: center;
}

#stat-p .stat-p-wider,
.stat-p-row .stat-p-wider {
  width: 22%;
  text-align: left;
}