#year-p {
  margin: 25px 50px 10px 15px;
  background-color: white;
}
.year-stats {
  border: 0;
  text-align: left;
  background-color: white;
}
.year-pilots {
  border: 1px solid black;
  padding: 4px;
  text-align: center;
  background-color: white;
  font-size: x-large;
  font-weight: bolder;
  color: #000;
}
#stat-p {
  margin: 25px 50px 10px 15px;
  padding: 4px;
  text-align: center;
  background-color: rgb(53, 45, 45);
  /* font-size: x-large; */
  font-weight: bolder;
  color:white;
}
