.track-info {
  font-family: sans-serif;
}

table {
  display: table-row;
  border: indigo;
  border-width: 10px;
  border-color: green;
  border-collapse: separate;
  box-sizing: border-box;
  border-spacing: 6px;
}

.track-name {
  font-size: 26px;
  font-weight: bold;
  text-indent: 1.5em;
  margin-top: 15px;
  margin-left: 0px;
}
